.mermaid {
	display: flex;
	justify-content: center;
	transform: scale(2);
	width: fit-content;
}

.container {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
}